<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cities</title>
    <link th:href="@{/css/project-css.css}" rel="stylesheet">
</head>
<body>
<div th:insert="fragments/navbar.html" th:fragment="navbar"></div>

<div th:if="${cities.isEmpty()}">
    <h2 th:text="#{cities.empty}">No cities</h2>
</div>

<div class="items-table" th:unless="${cities.isEmpty()}">
    <h2 th:text="#{cities.title}">All countries</h2>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" th:text="#{city.label.name}">City</th>
            <th scope="col" th:text="#{country.label.name}">Country</th>
        </tr>
        </thead>

        <tbody th:each="city : ${cities}">
        <tr>
            <td th:text="${city.getName()}">Country</td>
            <td th:text="${city.getCountry().getName()}">Country</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>