<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parcels</title>
    <link th:href="@{/css/project-css.css}" rel="stylesheet">
</head>
<body>
<div th:insert="fragments/navbar.html" th:fragment="navbar"></div>


<form class="margin-top col-12 " action="#" th:action="@{/parcels}" th:method="post" th:object="${searchParcelDto}">
    <div class="search-form">
        <div class="search-input-form">
            <label class="label" for="customer">Customer</label>
            <select class="form-control" id="customer" th:field="*{customerId}">
                <option value="">No customer</option>
                <option th:each="customer : ${customers}" th:value="${customer.value}"
                        th:text="${customer.key}"></option>
            </select>
        </div>

        <div class="search-input-form">
            <label for="destinationWarehouse">Destination warehouse</label>
            <select class="form-control" id="destinationWarehouse" th:field="*{destinationWarehouseId}">
                <option value="">No warehouse</option>
                <option th:each="warehouse : ${warehouses}" th:value="${warehouse.value}"
                        th:text="${warehouse.key}"></option>
            </select>
        </div>

        <div class="search-input-form">
            <label for="category">Category</label>
            <select class="form-control" id="category" th:field="*{categoryId}">
                <option value="">No category</option>
                <option th:each="category : ${categories}" th:value="${category.value}"
                        th:text="${category.key}"></option>
            </select>
        </div>

        <div id="searchFiltersContainer" class="formContainer">
            <div class="search-input-form">
                <label>Weight</label>
                <input th:field="*{weight}" type="text" class="form-control" placeholder="Weight" aria-label="Weight"
                       aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
    <div class="container-button">
        <div class="center-button">
            <button class="button btn btn-success" type="submit">Search</button>
        </div>
    </div>
</form>


<div th:if="${parcels.isEmpty()}">
    <h2 th:text="#{parcels.empty}">No parcels</h2>
</div>

<div class="items-table" th:unless="${parcels.isEmpty()}">
    <h2 th:text="#{parcels.title}">All parcels</h2>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" th:text="#{parcel.label.id}">#</th>
            <th scope="col" th:text="#{parcel.label.customer-username}">Purchaser</th>
            <th scope="col" th:text="#{parcel.label.weight}">Weight</th>
            <th scope="col" th:text="#{parcel.label.destination-warehouse}">Destination Warehouse</th>
            <th scope="col" th:text="#{parcel.label.category}">Category</th>
            <th scope="col" th:text="#{parcel.label.delivery-type}">Delivery type</th>
        </tr>
        </thead>

        <tbody th:each="parcel : ${parcels}">
        <tr>
            <td th:text="${parcel.id}">Parcel Id</td>
            <td th:text="${parcel.getPurchaser().getUsername()}">Purchaser</td>
            <td th:text="${parcel.getWeight()}">Weight</td>
            <td th:text="${parcel.getDestinationWarehouse().getAddress().getCity().getName()}">Destination warehousе
            </td>
            <td th:text="${parcel.getCategory().getName()}">Category</td>
            <td th:text="${parcel.getDeliveryType()}">Delivery Type</td>
            <td><a href="#" class="btn btn-warning" role=button th:text="#{navigation.view-parcel}"
                   th:href="@{/parcels/{id}(id=${parcel.getId()})}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>

    <br>

    <a href="#" class="btn btn-warning" role=button th:href="@{/parcels/new}" th:text="#{navigation.create-parcel}">Create
        a new parcel</a>

</div>
</body>
</html>